[Desktop Entry]
Type=Application
Version=1.0
Name=Linkco PDF Editor
GenericName=PDF Editor
Comment=Professional PDF tools for everyday document work
Exec=pdfcraft %F
TryExec=pdfcraft
Icon=ai.storyteller.pdfcraft
Terminal=false
Categories=Office;Viewer;Graphics;
MimeType=application/pdf;
Keywords=PDF;Document;Viewer;Editor;Annotate;Form;Sign;Linkco;
StartupNotify=true
StartupWMClass=ai.storyteller.pdfcraft
